extends ../layout

block content
	svg.ctr
		line(x1='10', y1='10',
		x2='200', y2='200',
		stroke='#444',
		stroke-width='20')
		line(x1='10', y1='110',
		x2='200', y2='300',
		stroke='#444',
		stroke-width='20')
