extends ../layout

block content
	svg.ctr
		path(d="M2,2 L22,22 L2,42 M22,22 L150,22 L170,2 M150,22 L170,42",
		fill='none',
		stroke='#444',
		stroke-width='4')
		path(d="M22,52 L2,72 L22,92 M2,72 L170,72 M150,52 L170,72 L150,92",
		fill='none',
		stroke='#444',
		stroke-width='4')
		path(d="m2,150 q20,50 40,0 q20,-50 40,0 q20,50 40,0 q20,-50 40,0 q20,50 40,0 q20,-50 40,0",
		fill='none',
		stroke='#444',
		stroke-width='4')
